<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project 1 | ITD112</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- highchart js-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>


   
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <style>
        .highcharts-figure,
        .highcharts-data-table table {
          min-width:80vw;
          margin: 1em;
          border: 1px solid black;
        }

        .highcharts-data-table table {
          font-family: Verdana, sans-serif;
          border-collapse: collapse;
          border: 1px solid #ebebeb;
          margin: 10px auto;
          text-align: center;
          width: 100%;
          max-width: 500px;
        }

        .highcharts-data-table caption {
          padding: 1em 0;
          font-size: 1.2em;
          color: #555;
        }

        .highcharts-data-table th {
          font-weight: 600;
          padding: 0.5em;
        }

        .highcharts-data-table td,
        .highcharts-data-table th,
        .highcharts-data-table caption {
          padding: 0.5em;
        }

        .highcharts-data-table thead tr,
        .highcharts-data-table tr:nth-child(even) {
          background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
          background: #f1f7ff;
        }

    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">ITD112</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a href="/" class="nav-item nav-link">Home</a>
                    <a href="/project1" class="nav-item nav-link active">Project 1</a>
                    <a href="/project2" class="nav-item nav-link">Project 2</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        
        <h1 style="display:flex;justify-content:center">ITD 112 - Project 1</h1>
        <figure class="highcharts-figure">
            <form class="form-group" action="">
                <select class="form-select" id="selectCategory" aria-label="Default select example">
                    <option value="Daily" selected>Daily</option>
                    <option value="MonthYear">Month-Year</option>
                    <option value="Year">Year</option>
                    <option value="City">City</option>
                    <option value="Region">Region</option>
                  </select>
                  <select class="form-select" id="categoryValues" aria-label="Default select example" hidden="true">
                    <option selected disabled hidden>Select Values</option>
                  </select>
                 
            </form>
            <div id="container"></div>
        </figure>
        <figure class="highcharts-figure">
            <div id="casesbyregion"></div>
        </figure>
        <figure class="highcharts-figure">
            <div id="casesbyloc"></div>
        </figure>
    </div>
    

    <script>
        
        $(document).ready(function(){
                    
            $("#selectCategory").change(function(e){
                e.preventDefault();
                var categoryName = $(this).children("option:selected").val();
                if(categoryName === "MonthYear" || categoryName === "Year" || categoryName === "Daily"){
                    $('#categoryValues').attr("hidden", true);
                    $.ajax({
                        type: "GET",
                        url: "/getDateValuesData",
                        data: {cname: categoryName},
                        success: function (data) {
                            //add here the data
                            _categoryForLineChart = data['new_date'];
                            _casesForLineChart = data['cases'].map(Number);
                            _deathsForLineChart = data['deaths'].map(Number);
                            _subtitle = data['subtitle'];
                            var chart = Highcharts.charts.find(chart => chart.renderTo.id === 'container');
                            chart.update({
                                title: {
                                    text: 'Dengue Cases'
                                },
                                subtitle:{
                                    text: _subtitle
                                },
                                xAxis: {
                                    title: {
                                        text: 'Date'
                                    },
                                    categories: _categoryForLineChart
                                },
                                series: [{
                                    name: 'Dengue Cases',
                                    data: _casesForLineChart ,
                                    lineWidth: 0.5
                                }, {
                                    name: 'Deaths',
                                    data: _deathsForLineChart,
                                    lineWidth: 0.5

                                }]
                            });
                        }
                    });
                }else{
                    $('#categoryValues').attr("hidden", false);
                    $.ajax({
                        type: "GET",
                        url: "/getCategoryValues",
                        data: {cname: categoryName},
                        success: function (data) {
                            $('#categoryValues').empty().append($("<option selected disabled hidden>Select Values</option>"));
                            $.each(data, function(key, value) {   
                                $('#categoryValues')
                                    .append($("<option></option>")
                                                .attr("value", value)
                                                .text(value)); 
                            });
                                    
                        }
                    });
                }
                        
            });

            $("#categoryValues").change(function(e){
                e.preventDefault();
                var categoryName = $('#selectCategory').children("option:selected").val();
                var valueName = $(this).children("option:selected").val();
                $.ajax({
                    type: "GET",
                    url: "/getCategoryValuesData",
                    data: {vname: valueName, cname: categoryName},
                    success: function (data) {
                        _categoryForLineChart = data['date'];
                        _casesForLineChart = data['cases'].map(Number);
                        _deathsForLineChart = data['deaths'].map(Number);
                        _subtitle = data['subtitle'];
                        var chart = Highcharts.charts.find(chart => chart.renderTo.id === 'container');
                        chart.update({
                            title: {
                                text: 'Dengue Cases in ' + valueName
                            },
                            subtitle: {
                                text: _subtitle
                            },
                            xAxis: {
                                title: {
                                    text: 'Date'
                                },
                                categories: _categoryForLineChart
                            },
                            series: [{
                                name: 'Dengue Cases',
                                data: _casesForLineChart ,
                                lineWidth: 0.5
                            }, {
                                name: 'Deaths',
                                data: _deathsForLineChart,
                                lineWidth: 0.5
                            }]
                        });
                    }
                });
            });

                    
        });            
        _dates = {{ date|safe }}
        _cases = {{ cases|safe }}
        _deaths = {{ deaths|safe }}
        _regionNames = {{ region_names|safe }}
        _regionCases = {{ rcases|safe }}
        _regionDeaths = {{ rdeaths|safe }}
        _locNames = {{ loc_names|safe }}
        _locCases = {{ lcases|safe }}
        _locDeaths = {{ ldeaths|safe }}
        _phcityData = {{ phcityData|safe }}
        Highcharts.chart('container', {
            chart: {
                zoomType: 'x'
            },
            title: {
                text: 'Dengue Cases in 2016-2021'
            },
            subtitle: {
                text: 'The daily data visualization of the dengue dataset clearly illustrates the trend of higher reported cases compared to deaths, with a notable decrease in cases during the mid of 2020.'
            },
            caption: {
                text: 'This is a Line Chart, highlight the lines to zoom, and you can click the hamburger menu located at the top-right of this container for more options. You can see the deaths bar graph only by highlighting only the deaths.'
            },
            accessibility: {
                screenReaderSection: {
                    beforeChartFormat: '' +
                        '<{headingTagName}>{chartTitle}</{headingTagName}>' +
                        '<div>{chartSubtitle}</div>' +
                        '<div>{chartLongdesc}</div>' +
                        '<div>{xAxisDescription}</div>' +
                        '<div>{yAxisDescription}</div>'
                }
            },
            tooltip: {
                valueDecimals: 2
            },
            xAxis: {
                title: {
                    text: 'Date'
                },
                categories: _dates
            },
            yAxis: {
                title: {
                    text: 'Number of Cases'
                }
            },
            series: [{
                name: 'Dengue Cases',
                data: _cases,
                lineWidth: 0.5
            }, {
                name: 'Deaths',
                data: _deaths,
                lineWidth: 0.5

            }]
        });
        Highcharts.chart('casesbyregion', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Dengue Cases By Region'
            },
            subtitle: {
                text: 'The diagram below shows a bar graph of dengue cases by region in the Philippines from year 2016 to 2021. It shows the Region III as the highest with 109195 cases, and the BARMM as the lowest with 11540 cases. Click the hamburger menu located at the top-right of this container for more options. You can see the deaths bar graph only by highlighting only the deaths.'
            },
            xAxis: {
                categories: _regionNames,
                crosshair: true
            },
            yAxis: {
                title: {
                    text: 'Number of Cases'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Cases',
                data: _regionCases

            }, {
                name: 'Deaths',
                data: _regionDeaths

            }]
        });
        Highcharts.chart('casesbyloc', {
            chart: {
                type: 'area'
            },
            title: {
                text: 'Dengue Cases by Location'
            },
            subtitle: {
                text: 'The diagram below shows a stacked area chart of dengue cases by location in the Philippines from year 2016 to 2021. You can hover your mouse on the lines to see the number of cases and deaths of each location. Click the hamburger menu located at the top-right of this container for more options. You can see the deaths bar graph only by highlighting only the deaths.'
            },
            caption: {
                text: ''
            },
            xAxis: {
                categories: _locNames
            },
            yAxis: {
                title: {
                    text: 'Number of Cases'
                }
            },
            tooltip: {
                shared: true,
                headerFormat: '<span style="font-size:12px"><b>{point.key}</b></span><br>'
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            series: [{
                name: 'Cases',
                data: _locCases
            }, {
                name: 'Deaths',
                data: _locDeaths

            }]
        });
        


    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>


</html>